
.headerDesign {

    height: 10vh;
    width: 100vw;

    background-color: maroon;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;


}

.headerLink {

    color: white;
    font-weight: bolder;
    margin-right: 1em;
    cursor: pointer;
}